<% if @show.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>
 
    <ul>
    <% @show.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @show do |f| %>

  <div class="form-group"> <%= f.label :date %><br>
  <%= f.date_select(:date, :order => [:month, :day, :year]) %></div>

  <div class="form-group"><%= f.label :start_time %><br>
  <%= f.time_select :start_time,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 30),
    :minute_interval => 30,
    :time_separator => "",
    :start_hour => 16,
    :start_minute => 30,
    :end_hour => 23,
    :ampm => true,
    :end_minute => 30
   %></div>

  <div class="form-group"><%= f.label :confirmed %><br>
  <%= f.check_box :confirmed %></div>

  <div class="form-group"><%= f.label :notes %><br>
  <%= f.text_area :notes %></div>
  
  <div class="btn btn-primary">
    <%= f.submit %>
  </div>
<% end %>




