<p id="notice"><%= notice %></p>

  <div class="info">
    <p><strong>Date:</strong> <%= format_date(@show) %></p>
    <p><strong>Start Time:</strong> <%= format_time(@show) %></p>
    <p><strong><%= link_to "Acts:", show_acts_path(@show) %></strong></p>
    
    <% if @show.acts.count > 0 %>
      <% @show.acts.each do |act| %>
          <%= ActShow.setOrder(act, @show) %>: 
          <%= link_to "#{act.name}", act_path(act) %>
          <br>
      <% end %>
    <% else %>
      <li><p>No acts yet!</p></li>
    <% end %>

    <p><strong>Confirmed? </strong> <%= @show.format_confirmed %></p>
    <p><strong>Notes:</strong> <%= @show.notes %> </p>
    <% if user_signed_in? %>
      <p><%= link_to 'Add Act', new_show_act_path(@show.id)  %>
      <p><%= link_to 'Edit Date, time, or add notes', [:edit, @show] %></p>
      <p><%= link_to 'Delete Show', show_path(@show), method: :delete  %></p>
    <% end %>
    <%= link_to 'Back', shows_path %></p>
  </div>
</div>


