<!DOCTYPE html>
<html>
  <head>
    <title>Music Venue</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <!--  navbar -->
    <div class="jumbotron" role="navigation">
          <a class="btn btn-primary" href="<%= root_url %>"/>Home</a>
          <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= "Hello, #{current_user.email}!" %></li>              
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
          </ul>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

  </body>
</html>