<% if @act.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being added:</h2>
 
    <ul>
    <% @act.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 
<%= form_for(@act, :html => {:name => "ActForm"}) do |f| %>
  <% if @act.new_record? %>
    <p><strong>Choose an already existing act:</strong></p>
    <%= f.collection_select :collectionName, Act.all, :id, :name, include_blank: 'Select an act' %>
    <%= f.hidden_field :show_id, :value => @show.id %>
    <p><strong>Or create a new act:</strong></p>
  <% end %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :website %><br>
  <%= f.text_field :website %></div>

  <div class="field"><%= f.label :blurb %><br>
  <%= f.text_area :blurb %></div>

  <div class="field"><%= f.label :contact_name %><br>
  <%= f.text_field :contact_name %></div>

  <div class="field"><%= f.label :contact_email %><br>
  <%= f.email_field :contact_email %></div>
  
  <div class="field"><%= f.label :notes %><br>
  <%= f.text_area :notes %></div>

  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




















