<p id="notice"><%= notice %></p>

<div class="info">
<p><strong>Name: </strong><%= @act.name %></p>
<p><strong>Website: </strong> <%= link_to @act.website, @act.website %>
<p><strong>Blurb: </strong><%= @act.blurb %></p>
<p><strong>Contact Name: </strong><%= @act.contact_name %></p>
<p><strong>Notes: </strong><%= @act.notes %></p>
<p><strong>Contact Email: </strong><%= mail_to @act.contact_email %></p>
<% if user_signed_in? %>
<p><%= link_to 'Delete Act', act_path(@act), method: :delete %></p>
<p><%= link_to 'Edit Act', edit_show_act_path(@act) %></p>
<% end %>
<p><%= link_to 'Back', shows_path %></p>
</div>